*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // Define 1rem size
  font-size: 62.5%; /* From browser default settings of 16px */
}

body {
  box-sizing: border-box;
}